html {
    scroll-behavior: smooth;
}
body {
    background-image: url('https://nead51.github.io/Media/Color-11567F.png');
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}
a {
    color: yellow;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1 {
    font-size: 96px;
    text-align: center;
    color: White;
}
h2 {
    font-size: 22px 
}
h3 {
    font-size: 18px 
}
h4 {
    font-size: 16px 
}
h5 {
    font-size: 14px 
}
h6 {
    font-size: 13px 
}
button:focus {
    outline: none;
}
ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    color:seagreen;
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
.header {
    padding: 60px;
    text-align: center;
    background: red;
    color: white;
    font-size: 30px;
}