html {
    scroll-behavior: smooth;
}
body {
    background-image: url('https://nead51.github.io/Media/Color-11567F.png');
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: .5;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none !important;
    outline: none !important;
    font-size: 20pt;
}
p {
    color: White;
}
h1 {
    color: white;
    font-size: 30px;
    text-align: center;   
}

.column {
    float: left;
    width: 33.33%;
    font-size: 45px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }