html {
    scroll-behavior: smooth;
}
body {
    background-image: url('https://nead51.github.io/Media/Color-11567F.png');
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: .5;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none !important;
    outline: none !important;
    font-size: 45px;
    
}
p {
    color: White;
}
h1 {
    font-size: 60px;
    text-align: center;  
    line-height: .3; 
}

.column {
    float: left;
    width: 33.33%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }